{% extends 'base.html' %}

{% load bootstrap %}

{% block content %}

    <section class="site-section" id="next-section">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <center><h1 class="lead">Post a Job</h1></center>
                    <form action="" method="POST" class="">{% csrf_token %}

                        {{ form|bootstrap }}

                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="POST" class="btn btn-primary btn-md text-white">
                            </div>
                        </div>


                    </form>
                </div>


            </div>

        </div>
    </section>


{% endblock %}
